.login-brackground {
    background-color: transparent;
    background-image: linear-gradient(206deg, #000000 0%, $color-primary 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-header {
    width: 85%;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 1.1em;
    font-size: 32px;
    margin-bottom: 50px;
}

.login-input {
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
    border-width: 0px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);

    &:active, &:focus {
        outline: 2px solid #52B788;
        box-shadow: 2px 5px 10px rgba(0,0,0,0.8);
    }
}

.login-button {
    font-size: 16px;
    font-weight: 500;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-image: linear-gradient(180deg, #40916C 0%, #1B4332 100%);
    border: 0px solid white;
    border-radius: 8px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    padding: 12px 50px;

    &:active, &:focus {
        background-image: linear-gradient(180deg, #52B788 0%, #1B4332 100%);
        box-shadow: 2px 5px 10px rgba(0,0,0,0.8);

    }
}