.login-brackground {
  background-color: transparent;
  background-image: linear-gradient(206deg, #000000 0%, $color-primary 100%);
}

.bg-gradient-to-b {
  background-image: linear-gradient(
    180deg,
    #40916c 0%,
    var(--color-primary-dark) 100%
  );
}

.focus\:bg-gradient-to-b:focus,
.active\:bg-gradient-to-b:active {
  background-image: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary-dark) 100%
  );
}
