@forward "variables";
@forward "animations";

html,
body {
  margin: 0;
  font-family: "Inter", Sans-serif;
}

* {
  box-sizing: border-box;
}

input,
button {
  &:focus,
  &:active {
    outline: none;
  }
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  appearance: none;
  color: black;
  text-decoration: none;
}

.df-aic {
  display: flex;
  align-items: center;
}

.df-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}
