@forward "variables";


html, body {
    margin: 0;
    font-family: "Inter", Sans-serif;
}

input, button {
    &:focus, &:active {
        outline: none;
    }
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
}